* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
:root {
    --light-background: #FFFFF1;
    --dark-sienna: #332014;
    --green-bar: #198754;
}
/*Layout ==>*/
#main {
    display: flex;
    flex-direction: row;
}
.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5%;
    height: 60vh;
    background-color: var(--light-background);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border-style: outset;
    position: fixed;
    transition: 1000ms ease;
}
.side-bar-XL {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18%;
    height:60vh;
    background-color: var(--light-background);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    border-style: outset;
    position: fixed;
    transition: 1000ms ease;
}
nav {
    text-align: left;
    font-size: 2rem;
    padding-left: 0.7rem;
    display: flex;
}
#nav-bar {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.items-extended {
    color: var(--dark-sienna);
    font-size: 1.5rem;
}
.nav-items {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.icons {
    color: var(--dark-sienna)
}

/*Home page ==>*/
#home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    padding: 5rem 0 0 20rem;
    
}

.text-center {
    width: 30rem;
    height: fit-content;
    
    
    
}
/*Login ==>*/
#right-tool {
    background-color: var(--green-bar);
    width: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 7rem 0 7rem 0;
}
.tool-items {
    color: var(--light-background);
    font-size: 2rem;
}

#info-icon {
    color: var(--light-background);
    font-size: 2rem;
}
#info-screen {
    width: 75%;
    margin-left: 10rem;
}

#map {
   height: fit-content;
   width: 30rem;
   margin-bottom: 2rem;
}

.pin-text {
    font-size: 3rem;
}

#locate-pin {
    text-align: center;
    position: absolute;
    z-index: 99999;
    
    font-size: 3rem;
    color: black;
}

